.dark{ 
    --container-background: #0c0f14;
    --side-backgroud: #141922;
    --bio-backgroud: #141922;
    --main-background: #141922;
    --title-color: #f55247;
    --text-color: #dedede;
    --svg-color: #f55247;
    --contrast: #f55247;
    --shadow: rgba(0, 0, 0, 0.0);
    --input: #262e3d;
    --list-hover: #262e3d;
    --submit: #f55247;
    --cancel: #262e3d;
    --edit: #5a7cb6;
    --delete: #f3291a;
}

.white{
    --container-background: #e1ecff;
    --side-backgroud: #fff;
    --bio-backgroud: #141922;
    --main-background: #fff;
    --title-color: #f55247;
    --text-color: #1f1f1f;
    --svg-color: #f55247;
    --contrast: #f55247;
    --shadow: #494949;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    color: var(--text-color);
}

h1{
    color: var(--title-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.contrast{
    color: var(--contrast);
}

.title{
    font-size: 1.5rem;
    font-weight: bold;  
}

.subtitle{
    font-size: 1.1rem;    
}

.space-bottom{
    margin-bottom: 1rem;
}

.svg-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

svg{
    fill: var(--svg-color);
    margin: 5px;
}

p.bio-paragraph{
    margin-bottom: 0.5rem;
    text-align: justify;
}

.bold{
    font-weight: bold;
}


/* EDIT BUTTON */

.hover-display{
    position: relative;
}

.hover-icon{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: none;
    
}

.hover-display:hover .hover-icon{
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* CONTAINERS */

.container {
    display: flex;
    flex-direction: row;
    background-color: var(--container-background);
    padding: 1vw 1vw;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    
}

.side-container {
    display: flex;
    flex-direction: column;
    background: var(--side-backgroud);   
    width: 18vw;
    min-width: 18vw;
    margin-right: 1vw;    
    padding: 1vw;
    box-shadow: 0 0 6px var(--shadow);   
}

.main-container{
    width: 79vw;
    min-width: 79vw;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    padding: 2vw; 
    box-shadow: 0 0 6px var(--shadow); 
}

.avatar{
    margin-bottom: 2rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.menu{
    padding: 1rem;
    border-bottom: 1px solid var(--contrast);
    border-left: 1px solid var(--contrast);
    border-color: grayscale(80%);
    width: 100%;
    background-color: var(--side-backgroud);
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.1s;
}

.menu:hover{
    background-color: var(--contrast);
    transition: 0.3s;
    color: #dedede;
}

.indentation{
    padding: 1vw 5vw;
    margin-bottom: 2vh;    
}


/* FORM */

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
    margin: 2vh auto;
    padding: 1vw;
    background-color: var(--side-backgroud);
    box-shadow: 0 0 6px var(--shadow);
    height: fit-content;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    padding: 1vw;
    background-color: var(--main-background);
    box-shadow: 0 0 6px var(--shadow);
}


input, textarea, select{
    background-color: var(--input);
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    margin: 5px 0 10px 0;
    resize: vertical;
}


/* BUTTONS */

.submit, .cancel, .edit, .delete{
    padding: 6px 15px;
    cursor: pointer;    
    border-radius: 3px;
    margin-right: 0.5vw;
}

.submit:hover, .cancel:hover, .edit:hover, .delete:hover{
    filter:grayscale(20%);
}

.submit{
    background-color: var(--submit);    
}

.cancel{
    background-color: var(--cancel);
}

.edit{
    background-color: var(--edit);
}

.delete{
    background-color: var(--delete);
}

/* autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {    
  -webkit-text-fill-color: var(--text-color);
  box-shadow: 0 0 0px 1000px var(--input) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* LSIT */

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0 1vw;
    margin-bottom: 1vh;
}


.skill-logo{
    width: 10%;
    margin-right: 1vw;
}

.button-container{
    display: flex;
    flex-direction: row;
}

.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
    margin: 2vh auto;
    padding: 1vw;
    background-color: var(--side-backgroud);
    box-shadow: 0 0 6px var(--shadow);
    height: fit-content;
}

/* blocks */

.block-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.block-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 1vw;
    background-color: var(--side-backgroud);
    box-shadow: 0 0 6px var(--shadow);
    height: fit-content;
}

.skill-logo-title{
    width: 30%;
    margin-right: 1vw;
}

.skill-item-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.company{
    font-weight: 600;
    margin-right: 1vw;
}

.date-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 1.3rem;
    margin-bottom: 0.5vh;   
}

.experience-date{
    font-size: 0.9rem;
}

.experience-description{
    padding-left: 1.3rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    padding-left: 1.3rem;
    margin-bottom: 2vh;   
}

.project-description{
    padding-left: 1.3rem;
    margin-top: 1vh;
}

.project-url{
    font-size: 0.9rem;
    padding-left: 1.3rem;
    margin-bottom: 1vh;
}

.project-skill-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;    
    padding-left: 1.3rem;
}



.project-skill{
    font-size: 0.9rem;
    margin-left: 0.5vw;
    padding: 5px;
    background-color: var(--input);
    border-radius: 3px;
}