.dark{ 
    --container-background: #0c0f14;
    --side-backgroud: #141922;
    --bio-backgroud: #141922;
    --main-background: #141922;
    --title-color: #f55247;
    --text-color: #dedede;
    --text-color-dark: #999;
    --svg-color: #f55247;
    --contrast: #f55247;
    --shadow: rgba(0, 0, 0, 0.0);
    --input: #262e3d;
    --list-hover: #262e3d;
    --submit: #f55247;
    --cancel: #262e3d;
    --edit: #5a7cb6;
    --delete: #f3291a;
    }

.white{
    --container-background: #e1ecff;
    --side-backgroud: #fff;
    --bio-backgroud: #141922;
    --main-background: #fff;
    --title-color: #f55247;
    --text-color: #1f1f1f;
    --svg-color: #f55247;
    --contrast: #f55247;
    --shadow: #494949;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    color: var(--text-color);
}

h1{
    color: var(--title-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.contrast{
    color: var(--contrast);
}

.title{
    font-size: 1.5rem;
    font-weight: bold;  
}

.subtitle{
    font-size: 1.1rem;    
}

.space-bottom{
    margin-bottom: 1rem;
}

.svg-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

svg{
    fill: var(--svg-color);
    margin: 5px;
}

p.bio-paragraph{
    margin-bottom: 0.5rem;
    text-align: justify;
}

.bold{
    font-weight: bold;
}

.nav-name{
    display: none;
}

#checkbox, #menu-label{
    display: none;       
}


/* EDIT BUTTON */

.hover-display{
    position: relative;
}

.hover-icon{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: none;
    
}

.hover-display:hover .hover-icon{
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* CONTAINERS */

.container {
    display: flex;
    flex-direction: row;
    background-color: var(--container-background);
    padding: 1vw 1vw;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    
}

.side-container {
    display: flex;
    flex-direction: column;
    background: var(--side-backgroud);   
    width: 18vw;
    min-width: 18vw;
    margin-right: 1vw;    
    padding: 1vw;
    box-shadow: 0 0 6px var(--shadow);   
}

.main-container{
    width: 100%;
    ;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    padding: 2vw; 
    box-shadow: 0 0 6px var(--shadow); 
}

.avatar{
    margin-bottom: 2rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.menu{
    padding: 1rem;
    border-bottom: 1px solid var(--contrast);
    border-left: 1px solid var(--contrast);
    border-color: grayscale(80%);
    width: 100%;
    background-color: var(--side-backgroud);
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.1s;
}

.menu:hover{
    background-color: var(--contrast);
    transition: 0.3s;
    color: #dedede;
}

.indentation{
    padding: 1vw 5vw;
    margin-bottom: 2vh;    
}












