@media screen and (max-width: 1250px) {  
    .container {
        padding: 0;
    }

    .side-container {
        width: 20vw;
        min-width: 20vw;        
    }   
}

@media screen and (max-width: 1100px) {  
    .container {
        flex-direction: column;
        padding: 1vw;
    }

    .form-container, .list-container{
        width: 80vw;
    }

    .form-container form, .list-item{
        width: 90%;
    }

    .side-container {
        flex-direction: row; 
        width: 100%;
        height: fit-content; 
        margin-bottom: 1vw;
        margin-top: 3.5rem;     
    }

    .main-container{
        width: 100%;
        min-height: 70vh;
    }

    .avatar{
        margin-right: 2vw;
        max-width: 200px;
    }

    .nav-bar{        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;  
        top: 0;
        left: 0;
        width: 100vw;
        background-color: var(--side-backgroud);        
        z-index: 1; 
        padding: 0 2vw; 
        border-bottom: 1px solid var(--container-background);
          
    }

    .nav-menu{
        display: flex;
        flex-direction: row;
    }

    .nav-name{
        display: block;
    }

    .menu{
        border-bottom: none; 
        border-color: var(--container-background);       
    }
}

@media screen and (max-width: 800px) {  
    .block-item{
        width: 30%;
    }

    .project-skill{
        margin-bottom: 0.5vw;
    }

    .skill-up{
        width: 100%;
    }

}

@media screen and (max-width: 675px) { 

    .form-container, .list-container{
        width: 98vw;
        margin: 1vh auto;
    }

    .form-container form, .list-item{
        width: 90%;
    }

    .list-item{
        flex-direction: column;
        border-bottom: 1px solid var(--input);
        padding-bottom: 1vh;
    }

    .certificade-container{
        width: 50%;
    }

    .block-item{
        width: 100%;
    }

    .nav-name{
        display: none;
    }
    .nav-bar{ 
        padding: 2rem 0 0 0;
        width: fit-content;
        height: 100vh;
        border-bottom: none;
        border-right: 1px solid var(--container-background);
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;    
        transition: all 0.3s linear;
        left: -200px;    
    }

    .nav-menu{
        display: flex;        
        flex-direction: column;       
    }

    .menu{        
        padding: 1rem 5rem 1rem 2vw;
        border-bottom: 1px solid var(--container-background);       
    }

    #menu-label{
        display: block;
        cursor: pointer;
        position: fixed;
        left: 1vw;
        top: 1vw;
        z-index: auto;        
    }    

    #checkbox:checked ~ .nav-bar{  
        left: 0;
    }

    

    .main-data li{
        text-align: center;
    }

    .svg-container{
        width: 100%;
        justify-content: center;
    }

    .side-container{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        margin-top: 0;
        padding-top: 1rem;
    }
    .avatar{
        max-width: 300px;
    }
}

@media screen and (max-width: 425px) {

    .container{
        padding: 0;
    }

    .form-container, .list-container{
        width: 100vw;
        margin: 0;
        flex-grow: 1;
    }

    .form-container form, .list-item{
        width: 95%;
    }

    .certificade-container{
        width: 100%;
    }    
    
    .project-container{
        padding-left: 0;
    }
}

@media screen and (max-width: 375px) {
    .indentation{
        padding: 1vw 0;
    }
}

@media (hover: none) {
    .hover-icon{
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
